{% extends "layout.njk" %}

{% block content %}


<div class="details">
    <div class="top-headerCreate">
        <h1>Criando Chef</h1>
        <button form="saving" type="submit">Salvar Chef</button>
    </div>

    <form
        id="saving"
        method="POST"
        action="/admin/chefs/index/{{chef.id}}"
        enctype="multipart/form-data"        
    >
    
        {% include 'admin/chefs/fields.njk' %}

        {# <input
            type="hidden"
            name="id"
            value={{chef.id}}
        > #} 
    </form>    
</div>


{% endblock content %}