{% extends "layout.njk" %}

{% block content %}


<div class="top-headerEdit">
    <h1>Editando Chef</h1>
    
    <form
        id="form-delete"
        action="/admin/chefs/index/{{chefs.id}}?_method=DELETE"
        method="POST">
    <input type="hidden" name="id" value={{chef.id}}>
    <input type="hidden" name="totalRecipes" value={{chef.total_recipes}}
    >
    <button type="submit">Deletar</button>     
    </form>

    <button form="update" type="submit">Salvar Chef</button>
</div>

<form id="update" method="POST" action="/admin/chefs/index/{{chefs.id}}/edit?_method=PUT">      

        {% include 'admin/chefs/fields.njk' %}

    <input
        type="hidden"
        name="id"
        value={{chef.id}}
    >  
</form>    

<script>
    const formDelete = document.querySelector("#form-delete")
    formDelete.addEventListener("submit", function (event) {        
        const confirmation = confirm("Deseja Deletar?")  
        if (!confirmation) {
            event.preventDefault()
        } 
    })
</script>


{% endblock content %}