 <div class="item">
        <div>Nome</div>
        <div>
            <input
            type="text"
            name="name"
            placeholder="Nome"
            value="{{ chef.name }}"> 
        </div>
</div>

 <div class="item">
        <div>Avatar</div>
        <div class="no-edit">
            <input
            type="text"
            name="name"            
            placeholder=""
            value="{{ chef.file_id }}"
            Readonly            
            > 
        </div>
</div>

<div class="item">
  <div>Avatar</div>
    <div id="photos-container">
        <div id="photos-upload">            
            <input
                id="photos-input"
                type="file"
                name="photos"
                multiple
                accept="image/*"
                onchange="PhotosUpload.handleFileInput(event, 1)"
            >
            <p>
            <i class="material-icons">
                add
            </i>
            </p>
        </div>


        <div id="photos-preview">
            {% if chef %}
                {% for image in chef %}
                    <div class="photo" id="{{image.id}}">
                        <img src="{{image.src}}" alt="{{image.name}}">
                        <i class="material-icons"
                            onclick="PhotosUpload.removeOldPhoto(event)"
                        >
                            close
                        </i>
                    </div>
                {% endfor %}
                <input type="hidden" name="removed_files">
            {% endif %}
        </div>        
    </div>
</div>