@import "https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap";
* {
    margin: 0;
    padding: 0;
    bottom: 0;
}

a {
    text-decoration: none;
}

body {    
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    padding-left: 20.5%;

    background: #111111;
    

    display: grid;
    grid-template-columns: 141px 1fr;
    align-items: center;
}

.menu a {    
    font-size: 15px;
    font-weight: bold;
    
    margin-right: 30px;
    text-decoration: none;

    color: #999999;
}

.menu a.active {
    font-weight: bold;
    color: #FFF;
}

.menu a:hover {
    color: #FFF;
}

.menu a::after{
    content: "";
    width: 0;
    height: 2px;
    background-color: #FFF;
    position: absolute;
    left: 0;
    bottom: -4px;
}

.menu a:hover::after{
    width: 100%;
    transition: width 500ms cubic-bezier(0.1, 0.92, 0.69, 0.41); /*animation*/
}

.wrapper {
    width: 940px;
    margin: 0 auto;
    min-height: 73vh;
}

footer {    
    padding: 23px 0;
    background: #EEEEEE 100%;
    font-size: 14px;
    color: #999999;
    text-align: center;   
    margin-top: 50px;
}

/*** INDEX ***/

main .top-header h1 {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    color: #111111;
}
main .top-header a {
    margin-bottom: 30px;    
}

.container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;
}

.container .card img {    
    width: 172px;
    height: 80px;
    border-radius: 8.57px;
}

.container .card h2 {
    font-size: 18px;
    line-height: 21px;
    color: #111111;
    margin-bottom: 5px;
}

.container .card p {
    font-size: 14px;
    line-height: 16px;
    color: #777777;
    margin-bottom: 10px;
}

.container .card a,
.container-chef-show a {
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    color: #6558C3;
}

.container .card {
    padding: 10px;
    display: grid;
    grid-template-columns: 192px 1fr;
}

/*** SHOW ***/
.recipe h1 {
    font-weight: bold;
    font-size: 24px;
    color: #111111;
    line-height: 28px;
}

.top-header {
    margin-top: 55px;
    display: grid;
    grid-template-columns: 1fr 136px;
    align-items: center;
}

.top-header a{
    width: 136px;
    height: 37px;
    border-radius: 4px;
    background: #6558C3;
    text-decoration: none;
    cursor: pointer;
    padding: 9px;
    box-sizing: border-box;
    
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-align: center;
}

.recipe-header img {
    border-radius: 15px;
    width: 940px;
    height: 280px;
    margin-top: 24px;
}

.recipe-header h1 {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #111111;
    margin-top: 50px;
    text-align: center;
}

.recipe-header h2 {
    font-weight: bold;
    font-size: 20px;
    color: #777777;
    line-height: 24px;
    margin-top: 4px;
    text-align: center;
}

.recipe-content {
    margin-top: 31px;
}

.recipe-content h3 {
    font-weight: bold;
    font-size: 24px;
    color: #111111;
    line-height: 28px;
    margin-bottom: 19px;
}

.recipe-content ul {
    margin-bottom: 41px;
}

.recipe-content ul li,
.recipe-content p {
    list-style: none;
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    text-align: justify;
}

/***  EDIT  ***/
.details .item,
.details #ingredients,
.details #preparations {
    font-weight: bold;
}

.top-headerEdit {    
    margin-top: 55px;    
    display: grid;
    grid-template-columns: 1fr 102px 139px;
    align-items: center;
}

.top-headerEdit h1 {
    font-weight: bold;
    font-size: 24px;
    color: #111111;
    line-height: 28px;    
}

#form-delete button {    
    background: #DC4747;
    border-radius: 4px;
    width: 92px;
    height: 37px;
    border: none;
    box-sizing: border-box;

    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 19px;
}


/***  FIELDS  ***/
.item,
#ingredients,
#preparations {    
    font-size: 16px;
    color: #111111;
    line-height: 19px;
    margin-top: 30px;
}

.item input,
.ingredient input,
.preparation input {
    width: 940px;
    height: 49px;
    margin-top: 10px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;    
}

.add-ingredient,
.add-pass {
    margin-top: 15px;
    color: #6558C3;
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    border: none;
    background-color: white;
    cursor: pointer;
}

.item input[type="text"] {
    margin-bottom: 15px;
}

.item input[type="url"],
.item input[type="text"],
.ingredient input[type="text"],
.preparation input[type="text"] {
    padding-left: 20px;
    font-size: 16px;
    color: #111111;
    line-height: 19px;
    box-sizing: border-box;
}

.item input[name="information"] {
    height: 257px;
    line-height: 24px;
}

.item input[name="information"] {
    text-align: start;
}

/*** CREATE ***/
.top-headerCreate {    
    margin-top: 55px;    
    display: grid;
    grid-template-columns: 1fr 139px;
    align-items: center;
}

.top-headerCreate h1 {
    font-weight: bold;
    font-size: 24px;
    color: #111111;
    line-height: 28px;    
}

button[type="submit"] {
    background: #6558C3;
    border-radius: 4px;
    width: 139px;
    height: 37px;
    border: none;
    cursor: pointer;

    box-sizing: border-box;

    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 19px;
    text-align: center;
}

.divItem {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 20px;
}

.divItem .item input[name="title"],
.divItem .item select[name="chef"] {
    width: 460px;
}

.item select[name="chef"] {
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    height: 49px;
    padding-left: 20px;

    margin-bottom: 15px;
    margin-top: 10px;
    
    font-size: 16px;
    color:#999999;
    line-height: 19px;
}

/*PHOTOS UPLOAD*/
form .item #photos-container {
    display: grid;
    grid-template-columns: 155.5px repeat(5, 1fr);
}

form .item #photos-upload {
    position: relative;

    display: block;
    overflow: hidden; /*para nao haver rolagem*/

    width: 149px;

    margin-top: 10.5px;
}

form .item #photos-upload p {
    padding: auto;
    background-color: #FFF;
    border-radius: 3.5px;
    border: 1px solid #DDD;    

    width: 147px;
    height: 147px;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

form .item #photos-upload p i {    
    color: #777;
    font-size: 40px;    
}

form .item #photos-input {
    position: absolute; /*sobrepor dentro da div*/
    top: 0;
    left: 0;

    display: block;
    overflow: hidden;

    width: 100%;
    height: 100%;
    opacity: 0;

    cursor: pointer;
}

/*PHOTOS PREVIEW*/
form .item #photos-preview {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5.5px;
    width: 100%;    
    margin-top: 10px;
}

form .item #photos-preview img {
    width: 150px;
    height: 150px;

    object-fit: cover;
    border: 1px solid #DDD;
    border-radius: 3.5px;
}


/*** CHEFS INDEX ***/

.container-chefs {
    margin-top: 30px;
    display: grid;

    grid-template-columns: 84px 1fr 84px 1fr 84px 1fr 84px 1fr;
    align-items: center;

    row-gap: 20px;
}

.container-chefs img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.container-chefs p {
    font-size: 18px;
    color: #111111;
    margin-bottom: 10px;
    line-height: 21px;
}

.container-chefs a {
    line-height: 16px;
    font-weight: bold;
    font-size: 14px;
    color: #6558C3;
}

/***  CHEFS CREATE  ***/



/***  CHEFS SHOW ***/
.chef-header {
    text-align: center;
}

.chef-header img {
    margin-top: 51px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.chef-header h1 {
    margin-top: 30px;
    font-size: 36px;
    color: #111111;
    font-weight: bold;
    line-height: 42px;
}

.chef-header h2 {
    font-weight: 500;
    margin-top: 4px;
    font-size: 20px;
    color: #777777;
    text-align: center;
    margin-bottom: 50px;
}

.container-chef-show {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container-chef-show h1 {
    margin-top: 50px;
    margin-bottom: 10px;
}

.container-chef-show .card {    
    display: grid;
    grid-template-columns: 192px 1fr;
    align-items: center;

    margin-top: 20px;
}

.container-chef-show img {
    width: 172px;
    height: 80px;
    border-radius: 8.57px;    
}

.container-chef-show h2 {
    line-height: 21px;
    font-size: 18px;
    color: #111111;
    margin-bottom: 5px;
}

.container-chef-show p {
    line-height: 16px;
    font-size: 14px;
    color: #777777;
    margin-bottom: 10px;
}

/*PAGINATION*/
.wrapper .pagination {
    margin-top: 15px;
    align-self: end;
    text-align: center;
}

.wrapper .pagination a,
.wrapper .pagination span {
    color: #6558C3;
    margin-right: 16px;
    font-weight: bold;
}

.wrapper .pagination a:hover {
    filter: brightness(0.3);
    border-bottom: 1px solid black;
}