{% extends "layout.njk" %}

{% block content %}

<div class="recipe">

        <div class="top-header">
            <h1>Receita: {{ recipe.title }}</h1>
            <a href="{{ recipe.id }}/edit">Editar Receita</a>
        </div>

        <div class="recipe-header">
            <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
            <h1>{{ recipe.title }}</h1>
            <h2>Por {{ recipe.chefname }}</h2>
        </div>

        <div class="recipe-content">
            <div id="ingredients" class="topic">                
                <h3>Ingredientes</h3>                
                    <ul>
                        {% for ingredient in recipe.ingredients %}
                            <li>- {{ingredient}}</li>
                        {% endfor %}
                    </ul>                
            </div>


            <div id="preparation" class="topic">                
                <h3>Modo de Preparo</h3>                
                    <ul>
                        {% for preparation in recipe.preparation %}
                            <li>- {{preparation}}</li>
                        {% endfor %}
                    </ul>                
            </div>

            <div id="information" class="topic">                
                <h3>Informações Adicionais</h3>
                <p>{{recipe.information}}</p>                
            </div>
        </div>

    </div>

    <script src="/scripts.js"></script>
    <script src="/ingredientsPrepAdd.js"></script>     

{% endblock content %}